@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base pour assurer que l'application prend toute la hauteur */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
